@import "mq";

h1,
h2,
h3,
p,
a,
i,
em {
	font-size: 16px;
	line-height: 130%;
}
h2 a {
	display: block;
	& + p {
		color: grey;
	}
}

h1 {
	font-size: 50px;
	position: sticky;
	top: 0;
	.site-logo {
		max-width: 80%;
	}
	span {
		opacity: 0;
		display: block;
		height: 0;
	}
}

.artworks-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 20px;
	padding-bottom: 80px;
	@include mq(desktop) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.artwork-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		img {
			margin: auto;
			// margin-bottom: 4px;
		}
		@include mq(desktop) {
			width: calc(33% - 10px);
		}
	}
	div {
		padding-top: 4px;
	}
}

.four-column-grid {
	display: flex;
	flex-direction: column-reverse;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	@include mq(desktop) {
		display: grid;
		grid-template-columns: 50% 25% 25%;
		grid-template-areas: "left middle right";
		gap: 20px;
	}
	.left-column {
		grid-column: left;
		@include mq($until: desktop) {
			margin-bottom: 100px;
		}
	}
	.middle-column,
	.text-column {
		grid-column: middle;
		p {
			margin-bottom: 14px;
		}
	}
	.text-column {
		@include mq($until: desktop) {
			margin-top: 10px;
		}
	}
}
.contact-form {
	gap: 20px;
	position: relative;
	margin: 20px 0px 40px;
	input,
	textarea,
	button {
		width: 100%;
		border: 1px solid #dcdcdc;
		padding: 4px;
		margin-bottom: 8px;
	}
	button {
		border-radius: 4px;
		max-width: 100px;
	}

	div.thank-you {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		border: 1px solid #dcdcdc;
	}
}

.contact-message {
	position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 4px 14px 8px;
	border-radius: 4px;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
	background-color: #ffffff;
	font-size: 14px;
	@include mq(desktop) {
		font-size: 16px;
	}
	a {
		font-size: 14px;
		text-decoration: underline;
		@include mq(desktop) {
			font-size: 16px;
		}
	}
}
