@import "mq";

h1,
h2,
h3,
p,
a,
i,
em {
	font-size: 16px;
	line-height: 130%;
}
h2 a {
	display: block;
	& + p {
		color: grey;
	}
}

h1 {
	font-size: 50px;
	position: sticky;
	top: 0;
	.site-logo {
		max-width: 80%;
	}
	span {
		opacity: 0;
		display: block;
		height: 0;
	}
}

.artworks-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 20px;
	@include mq(desktop) {
		flex-direction: row;
	}
	.artwork-item {
		@include mq(desktop) {
			width: 33%;
		}
	}
}

.four-column-grid {
	display: flex;
	flex-direction: column-reverse;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	@include mq(desktop) {
		display: grid;
		grid-template-columns: 50% 25% 25%;
		grid-template-areas: "left middle right";
		gap: 20px;
	}
	.left-column {
		grid-column: left;
		@include mq($until: desktop) {
			margin-bottom: 100px;
		}
	}
	.middle-column,
	.text-column {
		grid-column: middle;
		p {
			margin-bottom: 14px;
		}
	}
	.text-column {
		@include mq($until: desktop) {
			margin-top: 10px;
		}
	}
}
.contact-form {
	gap: 20px;
	position: relative;
	margin: 20px 0px 40px;
	input,
	textarea,
	button {
		width: 100%;
		border: 1px solid #dcdcdc;
		padding: 4px;
		margin-bottom: 8px;
	}
	button {
		border-radius: 4px;
		max-width: 100px;
	}

	div.thank-you {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		border: 1px solid #dcdcdc;
	}
}
